{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="display-4">BIENVENIDOS A MI PROYECTO: WEB IA</h1>
            <h3 class="mb-4">Presentado para el IACKATHON</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p class="lead text-center">Soy Wilmer Mateo Heras Vera, un economista de 24 años graduado de la Universidad de Cuenca a principios de este año. A lo largo de mi carrera, he cultivado una pasión por el análisis, la ingeniería y la visualización de datos. Mi habilidad en el manejo de diversas tecnologías, como Python, SQL, R y Stata, junto con mi experiencia en Cloud Computing a través de Google Cloud Platform y Amazon Web Services, me ha permitido desarrollar un portafolio de proyectos que pueden explorar en <a href="https://mateoheras77.github.io/WEB" target="_blank" class="text-decoration-none">mateoheras77.github.io/WEB</a>.</p>
            <p class="lead text-center">Si desean conectarse conmigo, estoy disponible en <a href="https://www.linkedin.com/in/mateoheras/" target="_blank" class="text-decoration-none">LinkedIn</a> o a través de WhatsApp en +593 980915563 para responder cualquier pregunta relacionada con mi proyecto.</p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12">
            <h2 class="text-center">COMPOSICIÓN DEL PROYECTO:</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>En este proyecto, He aprovechado tecnologías de vanguardia y técnicas de análisis de datos para brindar soluciones innovadoras en el ámbito de las compras públicas. Mi fuente principal de datos proviene de la API de Compras Públicas en Ecuador, accesible en <a href="https://datosabiertos.compraspublicas.gob.ec/PLATAFORMA/api/search_ocds" target="_blank" class="text-decoration-none">https://datosabiertos.compraspublicas.gob.ec/PLATAFORMA/api/search_ocds</a>. He seleccionado una muestra representativa de estos datos y los almacenamos en la nube de Google Cloud Platform para su análisis y procesamiento.</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <h3>Aplicación Comercial y Toma de Decisiones Ágil:</h3>
            <p>Una de las fortalezas de mi proyecto radica en su aplicabilidad comercial inmediata. He desarrollado un Modelo de Detección de Anomalías en Contratos de Compras Públicas que permite a los funcionarios tomar decisiones más rápidas y eficientes. Utilice un análisis exploratorio de datos (EDA) y el modelo "Isolation Forest" para identificar contratos anómalos que pueden indicar actividad corrupta o desviaciones significativas de los estándares. Además, este modelo es capaz de realizar clasificaciones y pronósticos, permitiendo a los usuarios prever si un contrato puede ser potencialmente corrupto o normal.</p>
        </div>
        <div class="col-md-6">
            <h3>Escalabilidad y Gestión de Datos en la Nube:</h3>
            <p>En la era digital, la escalabilidad es esencial, y mi proyecto se destaca en este aspecto. Almacenar y gestionar mis datos en Google Cloud Platform nos brinda la capacidad de escalar tanto vertical como horizontalmente. Esto significa que podemos manejar grandes volúmenes de datos y aumentar la capacidad según sea necesario sin comprometer la velocidad ni la eficiencia.</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <h3>Tecnología de Vanguardia y Acceso Democrático a los Datos:</h3>
            <p>Además de la detección de anomalías, He desarrollado un chatbot llamado ChatbotSQL, que permite realizar consultas SQL utilizando lenguaje natural. Esta herramienta de última generación hace que el acceso a la información sea más democrático, permitiendo a cualquier persona, independientemente de su experiencia en ciencia de datos, interactuar con los datos de manera eficiente.</p>
        </div>
        <div class="col-md-6">
            <h3>Interfaz Visual para una Presentación Efectiva:</h3>
            <p>Para presentar eficazmente los datos a través de una interfaz visual, He creado un dashboard utilizando Looker Studio, que se integra perfectamente con nuestra gestión de datos en la nube. Esto permite a los usuarios obtener una vista en tiempo real de los datos y tomar decisiones basadas en información actualizada.</p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12 text-center">
            <p>En resumen, mi proyecto se centra en aprovechar datos de compras públicas para mejorar la toma de decisiones a través de tecnologías de vanguardia, garantizando escalabilidad y acceso democrático a la información. Estoy entusiasmado por las oportunidades comerciales y sociales que esto presenta y estoy disponible a responder sus preguntas o explorar más a fondo cualquier aspecto de este emocionante proyecto.</p>
        </div>
    </div>
</div>
{% endblock %}
